@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Englebert;
  src: url("./assets/fonts/Englebert.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Sora;
  src: url("./assets/fonts/Sora-Bold.ttf");
}

@font-face {
  font-family: Unbounded;
  src: url("./assets/fonts/Unbounded-Medium.ttf");
}

@layer utilities {
  @keyframes loading {
    0% {
      width: 0%;
    }
    50% {
      width: 30%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 100;
    }
    50% {
      opacity: 0;
      color: transparent;
    }
  }

  .animate-loading {
    animation: loading 3s 1;
  }

  .animate-blink {
    animation: blink 0.5s infinite;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 15px;
}

h1 {
  font-family: Sora;
}

.englebert {
  font-family: Englebert;
}
.poppins {
  font-family: Poppins;
}
.sora {
  font-family: Sora;
}
.unbounded {
  font-family: Unbounded;
}

.bar {
  width: 25px;
  height: 3px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -7px) rotate(-45deg);
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #55555550;
  backdrop-filter: blur(6px);
  z-index: 1;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25);
}

.dark .card {
  background-color: rgba(14, 17, 24, 0.5);
  border: 2px solid #aaaaaa50;
  backdrop-filter: blur(5px);
  z-index: 1;
  box-shadow: 0 8px 24px rgba(50, 50, 50, 0.25);
}

button {
  background-color: #1a8cff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0px 4px 15px #1a8cff50;
}
